﻿/* Styles for the elements */
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    border: 3px solid blue;
    width: 550px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
}
header {
    border-bottom: 2px solid blue;
    padding-bottom: 1em;
}
header h1 {
    font-size: 200%;
    font-weight: bold;
    color: #0000FF;
    margin: 0 0 .25em;
}
header h2 {
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #ff0000;
    margin-left: 1em;
}
section {
    padding: 10px;
}
h1 {
    font-size: 140%;
    color: #0000FF;
    margin: .5em 0 .25em;
}
h2
{
    font-size: 120%;
    margin: .5em 0;
}
footer {
    border-top: 2px solid blue;
}
footer p {
    font-size: 80%;
    text-align: right;
    margin-bottom: 0;
}